
 :root{
   --monsterat: 'Montserrat', sans-serif;
    
    --bubble-gum-pink: #ff5ab7;
    --black: #1e1e1e;
    --medium-blue: #307bbe;
    --white: #fafafa;
    --pinkish-grey: #c4c4c4;
    --pale-grey: #f5f6fa;
    --dodger-blue: #379cf6;
    --azure: #0290ff;
    --warm-grey: #888888;
    --cool-blue: #4386bf;
    --black-5: rgba(0, 0, 0, 0.05);
    --white-two: #ffffff;
    --black-two: #121212;
  }

  .container{
    margin: 0 auto;
    background-color: var(--white);
    border: solid 1px #e8e8e8;
    overflow-x: hidden;
  }

.navbar{
  display: flex;
 justify-content: space-around;
  width: 90vw;
  height: 95px;
  margin: 0 0 38px;
  padding: 23px 99px 27px 100px;
  background-color: var(--white-two);
}

 

.logo h1{
  font-family: var( --monsterat);
  color: var(--azure);
}

.navigation{
  display: flex;
  list-style: none;
}

.navigation li{
  text-transform: uppercase;
  margin-left: 20px;
}

.userIcon{
  width: 35px;
  height: 35px;
   
  /* padding: 14px; */
  border-radius: 50%;
  border: solid 2px #e8e8e8;
  
}
.userSvg{
  fill: var(--azure);
  width: 60px;
  height: 60px;
  padding-left: 7px;
  padding-top: 5px;
}

.addbookform {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
 
 
}

.submit_button {
  padding: 5px;
  /* width: 150px; */
  height: 40px;
   margin-left: 50px;
  /* padding: 12.8px 19px 14.2px 22px; */
  border-radius: 3px;
  background-color: var(--azure);
  color: white;
  font-size: large;
  width: 150px;
}
.input_box{
  width: 60%;
  height: 40px;
  /* height: 100px; */
  /* margin: 149px 0 0 79px;
  padding: 169px 139px 330px 21px; */
  opacity: 0.2;
  /* border-radius: 4px;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background-color: #000000; */
}

.category{
  height: 40px;
  margin-left: 50px;
  opacity: 0.2;
}