
 :root{
   --monsterat: 'Montserrat', sans-serif;
    
    --bubble-gum-pink: #ff5ab7;
    --black: #1e1e1e;
    --medium-blue: #307bbe;
    --white: #fafafa;
    --pinkish-grey: #c4c4c4;
    --pale-grey: #f5f6fa;
    --dodger-blue: #379cf6;
    --azure: #0290ff;
    --warm-grey: #888888;
    --cool-blue: #4386bf;
    --black-5: rgba(0, 0, 0, 0.05);
    --white-two: #ffffff;
    --black-two: #121212;
  }

  .container{
    margin: 0 auto;
    background-color: var(--white);
    border: solid 1px #e8e8e8;
  }

.navbar{
  display: flex;
  align-items: center;
   width: 90vw;
  height: 95px;
  margin: 0 0 38px;
  padding: 23px 99px 27px 100px;
  background-color: var(--white-two);
}

 

.logo h1{
  font-family: var( --monsterat);
  color: var(--azure);
}

.navigation{
  display: flex;
  list-style: none;
}

.navigation li{
  text-transform: uppercase;
  margin-left: 20px;
}

.userIcon{
  width: 45px;
  height: 45px;
   
  /* padding: 14px; */
  border-radius: 50%;
  border: solid 1px #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userSvg{
  fill: var(--azure);
  width: 60px;
  height: 60px;
}